.post-preview-container {
  background-color: var(--unique-video-card-bg);
  width: 49%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 20px 0px;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  .post-preview-owner {
    display: flex;
    padding: 0px 20px;

    .post-preview-owner-info {
      margin-left: 10px;

      p {
        margin: 0;
      }
    }
  }

  .post-preview-content {
    height: 100%;
    margin-top: 20px;

    .post-preview-title {
      font-size: 18px;
      font-weight: bold;
      color: var(--text-color);
      margin: 0;
      padding: 0px 20px;
    }

    .post-preview-description {
      margin-top: 10px;
      margin-bottom: 30px;
      padding: 0px 20px;
      ol,
      ul {
        margin: 0;
        padding-left: 20px;
      }
    }

    .post-preview-description-lc-more :nth-last-child(2) {
      display: inline;
    }

    .post-preview-btn-more {
      color: var(--postBtn-view-more-color);
      cursor: pointer;
      font-size: 14px;
      text-decoration: none;
    }

    .post-preview-images {
      width: 100%;
      max-height: 500px;

      .poPre-images-one {
        width: 100%;
        height: 100%;
      }

      .poPre-images-two {
        display: flex;
        gap: 5px;
        height: 500px;
        width: 100%;
        padding: 0 10px;

        .poPre-images-two-item {
          flex: 1;
          img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            border-radius: 5px;
            object-position: center;
          }
        }
      }

      .poPre-image-three {
        display: flex;
        width: 100%;
        height: 500px;
        gap: 5px;
        padding: 0 10px;

        .poPre-images-three-item {
          &:first-child {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: stretch;
          }

          &:nth-child(2) {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            .poPre-image-small {
              width: 100%;
              height: 50%;
              display: flex;
            }
          }
        }
      }

      .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border-radius: 5px;
      }

      .image-preview-container {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        gap: 8px;
        padding: 10px;

        .image-item {
          img {
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;

            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }

      
      @media (max-width: 768px) {
        .poPre-images-one {
          height: 300px;

          img {
            height: 300px;
          }
        }
        .poPre-images-two {
          height: 300px;

          .poPre-images-two-item img {
            height: 300px;
          }
        }

        .poPre-image-three {
          height: 300px;
        }
      }
    }
  }
}
