body {
  transition: background-color var(--transition-speed) ease;
}

/* Add quick transitions for common text and background properties */
*,
*::before,
*::after {
  transition: color var(--transition-speed) ease,
    background-color var(--transition-speed) ease,
    border-color var(--transition-speed) ease,
    box-shadow var(--transition-speed) ease;
}

.studio-navbar-container {
  padding: 10px;
  border-radius: 7px;
  margin-top: 100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--unique-video-card-bg);
  position: sticky;
  top: 79px;
  z-index: 1000;
  width: 100%;
  transition: all var(--transition-speed) ease;

  .studio-navbar-button {
    padding: 8px 20px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease;

    p {
      padding: 0;
      margin: 0;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .studio-navbar-button__active {
    background-color: #4a90e2;
    color: white;
    border: none;
  }

  // 📱 Khi màn hình nhỏ hơn 1024px (Tablet)
  @media (max-width: 1024px) {
    .studio-navbar-button {
      padding: 8px 15px;
      font-size: 15px;
    }
  }

  @media (max-width: 768px) {
    .studio-navbar-button {
      padding: 8px 12px;
      font-size: 14px;
    }
  }

  @media (max-width: 575px) {
    .studio-navbar-button {
      padding: 6px 10px;
      font-size: 13px;
    }
  }

  @media (max-width: 430px) {
    .studio-navbar-button {
      padding: 5px 8px;
      font-size: 12px;
    }
  }

  @media (max-width: 360px) {
    .studio-navbar-button {
      padding: 5px 5px;
      font-size: 11px;
    }
  }
}
